version: '1'

services:
  api:
    container_name: inventario_api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8088:8088"
    depends_on:
      - db

  db:
    container_name: inventario_db
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: inventario_db
      MYSQL_USER: usuario
      MYSQL_PASSWORD: contraseña
      MYSQL_ROOT_PASSWORD: contraseña_root
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
