name: Continuos Integrations
on:
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Instalando javita
        uses: actions/setup-java@v3
        with:
            distribution: 'temurin'
            java-version: '17'
      - name: Compilando mi proyecto <3
        uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629
        with:
          arguments: build